@import url('https://fonts.googleapis.com/css?family=Bangers:regular,bold,light&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Barlow:regular,bold,light&subset=latin,latin-ext');


.generator {
  font-family: "Bangers";
  background: #00FF00;
  width: 100%;
  height: 100vh;
  padding-top: 8%;
  margin-bottom: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.joke-title {
    color: #D2691E;
    width: 100%;
    height: 100%;
    font-size: 10vh;
    padding-bottom: 3vh;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.joke {
  font-family: "Barlow";
  width: 50%;
  height: 10vh;
  font-size: 5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
}

.next {
  margin-left: 10%;
  width: 30%;
  height: 8%;
  margin-left: 10%;
}

.prev {
  margin-right: 10%;
  width: 30%;
  height: 8%;
}

.clicky {
  width: 40%;
  margin-top: 22vh;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
}

.LMAO {
  display: inline-block;
  border-radius: 80%;
  color: blue;
}

.HAHA {
}

.text{
  display: inline-block;
}

.header {
  display: inline-block;
}